<div class="card about">
  <div class="grid grid--1x2">
    <div class="about__image">
      <img src="images/about.jpg" alt="a self portrait" />
      <span class="icon__container">
        <img class="icon--small" src="images/quotation.svg" alt="" />
      </span>
    </div>
    <blockquote class="quote">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed totam
        ipsum facere optio provident cum obcaecati, fuga quasi natus,
        dignissimos atque inventore cumque in velit beatae. Magnam corrupti
        ratione rerum!
      </p>
    </blockquote>
  </div>
</div>
