<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <a href="#"
      ><img
        class="icon icon-white collapsible__chevron"
        src="images/logo.svg"
        alt=""
    /></a>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quasi vel
    laborum magnam commodi consectetur minus, excepturi voluptatibus voluptates
    fugit.
  </div>
</div>
