<section class="block container block-projects">
  <div class="grid grid--1x3">
    <div class="project">
      <div class="card card--primary">
        <header class="card__header">
          <img src="images/image1.jpg" alt="" />
        </header>
        <div class="card__body">
          <h3 class="project__name">Portfolio</h3>
          <p class="project__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
            unde fugiat! Error eveniet iste quidem voluptates. Veritatis
            excepturi dolorum cumque.
          </p>
          <button class="btn btn--outline btn--block">Source Code</button>
        </div>
        <div class="card__footer">
          <span class="badge badge--primary badge--small">HTML</span>
          <span class="badge badge--primary">CSS</span>
          <span class="badge badge--primary">Javacript</span>
        </div>
      </div>
    </div>

    <div class="project">
      <div class="card card--primary">
        <header class="card__header">
          <img src="images/image2.jpg" alt="" />
        </header>
        <div class="card__body">
          <h3 class="project__name">Portfolio</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
            unde fugiat! Error eveniet iste quidem voluptates. Veritatis
            excepturi dolorum cumque.
          </p>
          <button class="btn btn--outline btn--block">Source Code</button>
        </div>
      </div>
    </div>

    <div class="project">
      <div class="card card--primary">
        <header class="card__header">
          <img src="images/image3.jpg" alt="" />
        </header>
        <div class="card__body">
          <h3 class="project__name">Portfolio</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
            unde fugiat! Error eveniet iste quidem voluptates. Veritatis
            excepturi dolorum cumque.
          </p>
          <button class="btn btn--outline btn--block">Source Code</button>
        </div>
      </div>
    </div>
  </div>
</section>
