<section class="block container">
  <header class="block__header">
    <h3>Technical Skills</h3>
    <h4>Programming Languages</h4>
    <!-- <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste aut
        aperiam, rerum eligendi temporibus ratione exercitationem doloribus
        consectetur similique explicabo.
      </p> -->
  </header>
  <ul class="list block-skill">
    <li><span class="badge badge--secondary">Javascript</span></li>
    <li><span class="badge badge--secondary">Typescript</span></li>
    <li><span class="badge badge--secondary">Java</span></li>
    <li><span class="badge badge--secondary">C++</span></li>
  </ul>
</section>
